# DATA ANALYSIS

Analysing the large set of data as per user requirements

### Requirements for learning Data Analysis
* Python
* Numpy
* Pandas
* Data Visualization
     * Matpotlib
     * Seaborn
     
### What is Python
> Python is a programming language. Python contains oops concepts for developing web applications
 
### Text Styles:

what is ur clg name. My clg name is **Vignan Women's**

what is ur scl name. My scl name is *svv*

what is ur name. My name is ***vagdevi***

we are leaning `Data Analysis`


### Links:
 Lets [google](https://www.google.com) about you


### code format
 #### Python functions syntax:
```def function_name(parameters):
      statements
      return
   function_name()```

In [4]:
print("python variables")
print("python programming")
print (3-2)

python variables
python programming
1

In [7]:
import keyword
print(keyword.kwlist)
print("length is ",len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
length is  35

In [9]:
a=10
c='ch'
print(type(a))
print(type(c))

<class 'int'>
<class 'str'>

In [13]:
a=10
b=20
c=a+b
print("sum of a and b is" , c)
print("sum of ",a,"and", b, "is ", c)
print("sum of {0} and {2} is {1}".format(a,c,b))

sum of a and b is 30
sum of  10 and 20 is  30
sum of 10 and 20 is 30

In [21]:
a=bool(input("enter a value"))
b=bool(input("enter b value"))
a+b

enter a value0
enter b value0

2

In [24]:
a=20
b=20
print(id(a))
print(id(b))

140714137654688
140714137654688

### conditional statements in python
* if
    * Syntax:
        ```if(condition):
            statements```
* else
* elif
* nested if

In [26]:
a=10
b="vr"
if(a>5):
    if(b=='vr'):
        print("yes")
    else:
        print("no")
    print("true")
else:
    print("false")

yes
true

In [29]:
# elif
a=200
if (a>100):
     print(" if true")
elif(a==200):
    printf("elif true")
else:
    printf("false")

 if true

# looping statements
* while
    * initialize
    * condition
    * incre/decre
* for

In [32]:
# print 1 to 10
i=0
while(i<=10):
    print(i,end=" ")
    i=i+1
print("\ncame out of loop")

0 1 2 3 4 5 6 7 8 9 10
came out of loop

In [46]:
# for loop
for var in range(10):
    print(var,end =" ")
for var in range(1,10):
    if(var%2!=0):
        print()
        print(var,end ="")
print("\nwithout if")
for var in range(1,10,2):
    
    print()
    print(var,end =" ")

0 1 2 3 4 5 6 7 8 9
1
3
5
7
9
without if

1
3
5
7
9

In [50]:
l=[1,2,3,1.4,2.5,"string",2+3j,"True"]
print(type(1))
print(l[1:4])
print(l[-1])
print(l[1:7:2])
print(l[::-1])
print(l[::-2])

<class 'int'>
[2, 3, 1.4]
True
[2, 1.4, 'string']
['True', (2+3j), 'string', 2.5, 1.4, 3, 2, 1]
['True', 'string', 1.4, 2]

In [54]:
l=[1,2,3,4,5]
for i in l:
    print(i,end=" ")
print()
for i in range(len(l)):
    print(i,"->",l[i])

1 2 3 4 5
0 -> 1
1 -> 2
2 -> 3
3 -> 4
4 -> 5

In [55]:
# find the classes and methods in a list
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### sets
set is a collection of unordered elements.set does no allow the duplicate data.
set can be declared {value1,value2}

In [57]:
s={1,3,5,4,6,7,8}
print(type(s))
print(s)

<class 'set'>
{1, 3, 4, 5, 6, 7, 8}

In [58]:
s={1,2,3,"string",4.67,2+8j}
s

{(2+8j), 1, 2, 3, 4.67, 'string'}

In [60]:
l=[10,20]
s=set(l)
s

{10, 20}

In [61]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [63]:
for i in s:
    print(i,end=" ")

10 20

In [67]:
 t=(3,5,"fewe",5+7j)
 type(t)

tuple

In [68]:
d={"name":"chinna","age":20,"rank":2}
d

{'name': 'chinna', 'age': 20, 'rank': 2}

In [69]:
d.keys()

dict_keys(['name', 'age', 'rank'])

In [70]:
d.values()

dict_values(['chinna', 20, 2])

In [71]:
d.items()

dict_items([('name', 'chinna'), ('age', 20), ('rank', 2)])

In [72]:
for i,j in d.items():
    print(i,"--->",j)

name ---> chinna
age ---> 20
rank ---> 2

In [73]:
s="hello"
s[::-1]

'olleh'

In [75]:
s[:-1]

'hell'

In [76]:
s[-1:-3]

''

In [82]:
s="hello"
s[-1]+s[1:-1]+s[0]

'oellh'

In [83]:
def function():
    print("break time")
function()

break time

In [86]:
def breaktime(a,b):
    print("with in function",a+b)
    return a+b

bt=breaktime(10,20)
print("after",bt)

with in function 30
after 30